:root {
  // Fontes
  --font-family-primary: "DM Sans", sans-serif;
  --font-family-secondary: "Inter", sans-serif;
  --font-family-body: "Roboto", sans-serif;

  // Tamanhos
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-base: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;

  // Pesos
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  // Line heights
  --line-height-tight: 1em;
  --line-height-normal: 1.5em;
  --line-height-relaxed: 1.8em;
}
