.search-bar {
  .container {
    max-width: 720px;
    margin: 24px auto 20px auto;
  }

  &__state-layer {
    display: flex;
    align-items: stretch;
    gap: var(--spacing-xs);
    width: 100%;
    background-color: var(--color-gray-1);
    border-radius: var(--radius-xl);
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);
    flex: 1;
    padding: var(--spacing-xs);
  }

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__content {
    width: 100%;

  }

  &__input {
    width: inherit;
    flex: 1;
    border: none;
    background: transparent;
    font-family: var(--font-family-body);
    color: var(--color-text-primary);
    padding: var(--spacing-sm) var(--spacing-xl);

    &::placeholder {
      color: var(--color-text-secondary);
    }

    &:focus {
      outline: none;
    }
  }

  &__trailing-elements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-sm);
  }

  &__search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }

  &__clear-button {
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    padding: var(--spacing-xs);
    border-radius: var(--radius-sm);
    flex-shrink: 0;

    &--visible {
      display: flex;
    }
  }

  &__clear-icon {
    width: 16px;
    height: 16px;
  }

  @media (min-width: 769px) {
    .container {
      max-width: 720px;
      margin: 36px auto 32px auto;
    }

    &__search-icon {
      width: 48px;
      height: 48px;
    }

    &__clear-button {
      width: 48px;
      height: 48px;
    }

    &__input {
      font-size: var(--font-size-md);
    }
  }
}
