.header {
  border-bottom: 1px solid var(--color-border);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-lg);
    padding-block: var(--spacing-2xl);
    background-color: var(--color-bg-primary);

    @media (min-width: 769px) {
      justify-content: space-between;
      gap: var(--spacing-xl);

    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
    width: fit-content;
    justify-content: space-between;

    @media (min-width: 769px) {
      width: 100%;
    }

    img {
      max-width: 124px;
      height: auto;
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    width: fit-content;
  }

}
